* {
    margin: 0px;
    background-color: #333;
}

/* Estilizando a barra de navegação */
.social-nav {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: #333;
    /* Cor de fundo da barra */
    padding: 10px;
}

/* Estilizando os links e os ícones */
.social-link {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    /* Cor do texto dos links */
    transition: color 0.3s ease-in-out;
}

.social-link img {
    width: 30px;
    /* Largura dos ícones */
    height: 30px;
    /* Altura dos ícones */
}

/* Efeito de hover para os links */
.social-link:hover {
    color: #55acee;
    /* Cor do texto dos links quando hover */
}

/* Estilizando a página */
#principal{
    display: grid;
    grid-auto-flow: column;
    color: white;
}

#perfil {
    text-align: center;
    padding-top: 5em;
}

h1 {
    font-family: 'Marcellus SC', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#projetos {
    text-align: center;
    padding-top: 5em;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

#calact {
    text-align: center;
    padding-top: 15em;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: white;
    text-decoration: none;
    background: #038ED4;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-color: #020891;
    box-shadow: 0px 15px 20px rgba(100, 97, 97, 0.573);
}

button:hover {
    background-color: #61b8dd;
    color: black;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(100, 97, 97, 0.573);
    transition-duration: 0.5s;
}