* {
    margin: 0px;
    background-color: #333;
}

.social-nav {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
}

.social-link {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.social-link img {
    width: 30px;
    height: 30px;
}

.social-link:hover {
    color: #55acee;
}

#principal{
    display: grid;
    grid-auto-flow: column;
    color: white;
}

#perfil {
    text-align: center;
    padding-top: 5em;
}

h1 {
    font-family: 'Marcellus SC', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

#projetos {
    text-align: center;
    padding-top: 5em;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: 600;
    color: white;
}

#calact {
    text-align: center;
    padding-top: 15em;
}

button {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: medium;
    color: white;
    text-decoration: none;
    background: #038ED4;
    width: 250px;
    height: 40px;
    border-radius: 10px;
    border-color: #020891;
    box-shadow: 0px 15px 20px rgba(100, 97, 97, 0.573);
}

button:hover {
    background-color: #61b8dd;
    color: black;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px rgba(100, 97, 97, 0.573);
    transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {

    * {
        margin: 0;
        background-color: #333;
    }

    .social-nav {
        margin-top: 0;
        padding: 5px;
    }

    .social-link {
        margin: 0 5px;
    }

    #principal {
        display: block;
        font-size: 12px;
    }

    #perfil,
    #projetos,
    #calact {
        text-align: center;
        padding-top: 2em;

    }

    button {
        width: 200px;
        height: 35px;
    }
}